@red: #fa7268;
@nacarat: #ff683b;
@orange: #eb7e76;
@yellow: #fbbd08;
@olive: #8dc63f;
@green: #39b54a;
@cyan: #1cbbb4;
@blue: #0081ff;
@purple: #6739b6;
@mauve: #9c26b0;
@pink: #fff5f4;
@brown: #a5673f;
@grey: #8799a3;
@black: #333333;
@darkGray: #666666;
@gray: #aaaaaa;
@ghostWhite: #f1f1f1;
@ghostGray: #f8f8f8;
@white: #ffffff;
@gradualOrange: linear-gradient(90deg, #fa8d68, #fa7368);
@navbar: #db78a0;

body {
  margin:0;
  padding:0;
}
