@red: #fa7268;
@nacarat: #ff683b;
@orange: #eb7e76;
@yellow: #fbbd08;
@olive: #8dc63f;
@green: #39b54a;
@cyan: #1cbbb4;
@blue: #0081ff;
@purple: #6739b6;
@mauve: #9c26b0;
@pink: #fff5f4;
@brown: #a5673f;
@grey: #8799a3;
@black: #333333;
@darkGray: #666666;
@gray: #aaaaaa;
@ghostWhite: #f1f1f1;
@ghostGray: #f8f8f8;
@white: #ffffff;
@gradualOrange: linear-gradient(90deg, #fa8d68, #fa7368);

.flex-box {
  display: flex;
  position: relative;
  z-index: 99;
  flex-wrap: wrap;
  .flex-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.col-2{
  width: 50%;
}
.col-3{
  width: 33.3333%;
}
.col-4{
  width: 25%;
}
.col-5{
  width: 20%;
}

.bg-white {
  background-color: @white;
  color: @darkGray;
}

.pt-sm{
  padding-top: 10px;
}
.pb-sm{
  padding-bottom: 10px;
}
.pl-sm{
  padding-left: 10px;
}
.pr-sm{
  padding-right: 10px;
}
.mb-xs{
  margin-bottom: 5px;
}
.mb-sm{
  margin-bottom: 10px;
}
.margin-xs {
  margin: 5px!important;
}
.margin-sm {
  margin: 10px!important;
}